<strong>Olá {{ deliveryman }}</strong>
<p></p>
<p>
  <strong>Nome do Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Produto já está disponível para a retirada.
    <p>Destinatario: {{ recipient }}</p>
    <p>Endereço: {{ address }}</p>
  </small>
</p>
