<strong>Olá {{ deliveryman }}</strong>
<p></p>
<p>
  <strong>Nome do Produto: </strong> {{ product }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Produto já está disponível para a retirada.
  </small>
</p>
